wwW<section class="login">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "login-form", id: "myform" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="login-container">
      <div class="form-items">
        <h2>Sign up</h2>
      </div>


      <div class="form-items">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-tag", value: (params[:email] || resource.email), readonly: params[:email].present? %>
      </div>

      <% if params[:organization_id].present? %>
        <%= f.hidden_field :organization_id, value: params[:organization_id] %>
      <% end %>

      <% if params[:organization_name].present? %>
        <div class="form-items">
          <%= f.label :organization_name, 'Organization' %>
          <%= f.text_field :organization_name, value: params[:organization_name], class: "input-tag", readonly: true %>
        </div>
      <% end %>

      <div class="form-items">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input-tag" %>
      </div>
    <% if !User.find_by(email: params[:email]) %>
      <div class="form-items">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-tag" %>
      </div>
      <%end%>
    
      <div class="form-items">
        <%= render "devise/shared/links" %>
        <%= f.submit "Sign up", class: "input-tag" %>
      </div>
    </div>
  <% end %>
</section>
